CompileFlags:
    CompilationDatabase: builddir/release
    Add: [--target=arm-arm-none-eabi]

---
If:
    PathMatch: [src/.*]

CompileFlags:
    Add: [-Weverything,
          -Wno-documentation-unknown-command,
          -Wno-covered-switch-default,
          -Wno-gnu-binary-literal,
          -Wno-reserved-identifier,
          -Wno-deprecated-volatile,
          -Wno-c++98-c++11-compat-binary-literal,
          -Wno-c++98-compat-pedantic,
          -Wno-c++20-compat-pedantic,
          -Wno-old-style-cast]

---
If:
    PathMatch: [subprojects/.*]

CompileFlags:
    Remove: [-W*]
    Add: [-Wno-everything]

---
Diagnostics:
  UnusedIncludes: None